@model IEnumerable<StockDisplayModel>
@{
    Layout = "_AdminLayout";
}
<h2>Kho hàng</h2>

<form asp-action="Index" method="get" class="my-2 d-flex gap-2">
    <input type="text" name="sTerm" class="form-control w-25" placeholder="Tìm kiếm theo sách" />
    <button type="submit" class="btn btn-primary">Tìm kiếm</button>
    <a asp-action="Index" asp-controller="Stock" class="btn btn-primary">Xoá</a>
</form>

<table class="table table-bordered">
  <tr>
    <th>Sách</th>
    <th>Số lượng</th>
    <th>Hành động</th>
  </tr>
  @foreach(var item in Model)
  {
    <tr>
      <td>@item.BookName</td>
      <td>@item.Quantity</td>
      <td>
         <a asp-action="ManangeStock" asp-controller="Stock" asp-route-bookId="@item.BookId" class="btn btn-info"> Cập nhật số lượng</a>
      </td>
    </tr>
  }
</table>

