@model StockDTO
@{
    Layout = "_AdminLayout";
}

<div style="width:50%">
<h2> Quản lý số lượng </h2>
<a asp-action="Index" asp-controller="Stock" class="btn btn-primary">Trở lại</a>
<form asp-action="ManangeStock">
   <input type="hidden" asp-for="BookId" />

   <div class="my-2">
      <label>Số lượng</label>
      <input type="number" class="form-control" asp-for="Quantity" />
      <span asp-validation-for="Quantity" class="text-danger"></span>
   </div>

   <div class="my-2">
      <button type="submit" class="btn btn-info">Cập nhật</button>
   </div>
</form>
</div>
