@model BookDTO
@{
    Layout = "_AdminLayout";
}
<div style="width:50%">
    <h2> Thêm sách </h2>
    <a asp-action="Index" asp-controller="Book" class="btn btn-primary">Trở lại</a>
    <form asp-action="AddBook" enctype="multipart/form-data">
        @* <input type="hidden" asp-for="Id" /> *@

        <div class="my-2">
            <label>Sách*</label>
            <input type="text" class="form-control" asp-for="BookName" />
            <span asp-validation-for="BookName" class="text-danger"></span>
        </div>

        <div class="my-2">
            <label>Tác giả*</label>
            <input type="text" class="form-control" asp-for="AuthorName" />
            <span asp-validation-for="AuthorName" class="text-danger"></span>
        </div>

        <div class="my-2">
            <label>Thể loại*</label>
            <select class="form-control" asp-for="GenreId" asp-items="Model.GenreList">
                <option value="">Lựa chọn thể loại</option>
            </select>
            <span asp-validation-for="GenreId" class="text-danger"></span>
        </div>

        <div class="my-2">
            <label>Giá*</label>
            <input type="number" class="form-control" asp-for="Price" />
            <span asp-validation-for="Price" class="text-danger"></span>
        </div>

        <div class="my-2">
            <label>Ảnh</label>
            <input type="file" class="form-control" asp-for="ImageFile" />
        </div>
        <div class="my-2">
            <label>PDF</label>
            <input type="file" class="form-control" asp-for="PdfFile" />
        </div>

        <div class="my-2">
            <button type="submit" class="btn btn-info">Thêm</button>
        </div>
    </form>
</div>
